* {
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', arial, sans-serif;
  font-size: small;
  background: #efefef;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  background: #fff;
  margin: 10px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  border-radius: 2;
  padding: 15px 15px 5px;
}

.button {
  background: #f8f8f8;
  color: #333;
  height: 28px;
  border: solid 1px #d3d3d3;
  border-radius: 2px;
  padding: 0 8px;
  cursor: pointer;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  font-weight: 500;
  font-size: 11px;
}

.button:hover {
  border-color: #c6c6c6;
  background: #f0f0f0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.button:focus {
  box-shadow: none;
  outline: 0;
}

.button:active {
  background: #e9e9e9;
  box-shadow: inset 0 1px 0 #ddd;
}

.show-more {
  border-top: 1px solid #e2e2e2;
  cursor: pointer;
}

.show-more p {
  color: #8a8a8a;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
}

.show-more:hover p {
  color: #4f4f4f;
}

hr {
  cursor: default !important;
}

header {
  width: 100%;
  z-index: 1000;
  position: fixed;
  margin: 0 !important;
  min-height: 40px;
}

.header, .youtube-menu, .search-box, .sign-in {
  padding: 5px;
}

.youtube-menu {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar, .upload {
  background: transparent;
  border: 0;
  height: 100%;
  width: 40px;
  font-size: 16px;
  cursor: pointer;
  color: #8a8a8a;
}

.navbar:hover, .upload:hover {
  color: #4f4f4f;
}

.navbar:focus, .upload:focus {
  outline: 0;
}

.youtube-logo {
  background: url("../images/logo1.png") no-repeat;
  background-size: auto;
  width: 73px;
  height: 30px;
  cursor: pointer;
}

.search-box {
  -webkit-box-flex: 6;
      -ms-flex-positive: 6;
          flex-grow: 6;
}

.search-box input {
  height: 30px;
  padding: 2px 6px;
  background: #fff;
  font-size: 14px;
  width: 100%;
  border: 1px  solid #ccc;
  box-shadow: inset 0 1px 2px #eee;
  -webkit-transition: border-color .2s ease;
  transition: border-color .2s ease;
}

.search-box input:focus {
  outline: 0;
  border: 1px solid #167ac6;
}

.search-box .button {
  width: 70px;
  height: 30px;
  border-left: red;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.sign-in {
  -webkit-box-flex: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sign-in .button {
  background: #167ac6;
  border-color: #167ac6;
  color: #fff;
  height: 30px;
  white-space: nowrap;
}

.sign-in .button:hover {
  background: #126db3;
}

.sign-in .button:active {
  background: #095b99;
  box-shadow: none;
}

.left-col {
  margin-top: 50px;
  -webkit-box-flex: 6;
      -ms-flex-positive: 6;
          flex-grow: 6;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}

/****** Video ******/
.video-section {
  max-width: 853px;
  margin-left: auto;
}

.video {
  margin: 10px;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  position: relative;
}

.video iframe {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

/****** Social ******/
.title-cont h2 {
  margin: 0 0 10px;
  color: #333;
  font-size: 20px;
  font-weight: normal;
}

.user-views {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.user-cont {
  padding: 5px 0;
}

.user-avatar {
  margin-right: 6px;
}

.user-name {
  padding-top: 2px;
}

.user-name p {
  cursor: pointer;
  margin: 0;
  height: 22px;
  color: #333;
  font-weight: bold;
}

.user-name p:hover {
  text-decoration: underline;
}

.subscribe-button .button {
  height: 20px;
  background: #e92117;
  color: #fefefe;
  border: solid 1px transparent;
}

.subscribe-button .button:hover {
  background-color: #cc181e;
}

.subscribe-button .button:focus {
  outline: none;
}

.subscribe-button .button:active {
  background-color: #b31227;
  box-shadow: none;
}

.views {
  border-bottom: 2px solid #167ac6;
  color: #4f4f4f;
  line-height: 24px;
  font-size: 19px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.views p {
  margin: 0;
}

.share-cont {
  padding: 10px 0;
  border-top: 1px solid #e2e2e2;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.share, .likes {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.share p, .likes p {
  cursor: pointer;
  color: #8a8a8a;
  font-size: 13px;
  font-weight: bold;
}

.share p:hover, .likes p:hover {
  color: #4f4f4f;
}

.share p {
  margin: 0 20px 0 0;
}

.likes p {
  margin: 0 0 0 20px;
}

/****** Info ******/
.video-description {
  margin-bottom: 20px;
}

.video-description p {
  margin: 0 0 5px;
  color: #333;
  font-size: 14px;
  font-weight: bold;
}

.video-description a {
  color: #333;
}

.video-description a:hover {
  color: #167ac6;
  text-decoration: underline;
}

/****** Comments ******/
.count {
  text-transform: uppercase;
  color: #555;
  font-weight: 500;
  margin-bottom: 8px;
}

.comments-button {
  margin: 15px auto;
}

.comment {
  padding-left: 10px;
}

.comment textarea {
  resize: none;
  padding: 8px 8px 0;
  width: 100%;
  cursor: pointer;
  border: 1px solid #d5d5d5;
  border-radius: 2px;
}

.add-comment-cont {
  padding: 5px 0;
}

.comment-cont {
  margin-right: 10px;
  margin-bottom: 30px;
  margin-top: 10px;
}

.comment-cont .user-entry {
  line-height: 1.7em;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.comment-cont .user-entry .name a {
  color: #128ee9;
  font-weight: bold;
  line-height: 1.3em;
}

.comment-cont .user-entry .name p {
  color: #8a8a8a;
  font-size: 11px;
  padding: 0 5px;
  cursor: pointer;
  display: inline;
}

.comment-cont .user-entry .name a:hover, .comment-cont .user-entry .name p:hover {
  text-decoration: underline;
}

.comment-cont .user-entry .text p {
  margin: 0;
}

.comment-cont .user-entry .footer {
  color: #8a8a8a;
  font-size: 13px;
  cursor: pointer;
}

.comment-cont .user-entry .footer p {
  padding-right: 2px;
  display: inline;
}

.comment-cont .user-entry .footer p:hover {
  color: #4f4f4f;
}

.comment-cont .user-entry .footer span {
  padding: 0 2px;
}

.comment-cont .user-entry .footer span:hover {
  color: #4f4f4f;
}

.comment-cont .user-options {
  text-align: center;
  width: 20px;
  margin-right: 10px;
  color: #8a8a8a;
  font-size: 18px;
  cursor: pointer;
}

.comment-cont .user-options:hover {
  color: #4f4f4f;
}

.right-col {
  margin-top: 50px;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}

.video-sidebar {
  margin: 10px 0;
  max-width: 400px;
}

.video-sidebar ul {
  padding: 10px 10px 0;
  margin: 0 auto;
}

.video-sidebar ul li {
  height: 110px;
  width: auto;
  overflow: hidden;
}

.video-sidebar ul li:hover .title {
  color: #167ac6;
}

.preview {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.video-thumb {
  min-width: 168px;
  position: relative;
  overflow: hidden;
}

.video-thumb .video-time {
  position: absolute;
  bottom: 5px;
  right: 0;
  padding: 0 4px;
  margin: 2px auto;
  font-size: 11px;
  font-weight: bold;
  background-color: #000;
  color: #fff !important;
  opacity: 0.75;
}

.video-data {
  padding-top: 1px;
  margin-left: 5px;
  width: 200px;
  height: 94px;
}

.video-data .user, .video-data .view-count {
  margin: 2px 0;
  color: #8a8a8a;
  font-size: 11px;
}

.video-data .title {
  margin: 4px 0;
  color: #333;
  font-size: 14px;
  font-weight: bold;
}

footer {
  margin: 50px 0 0 !important;
  padding-left: 40px !important;
  padding-bottom: 20px !important;
}

.settings {
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 15px;
}

.settings span, .settings button {
  margin: auto 8px;
  white-space: nowrap;
}

.settings span i, .settings button i {
  color: #8a8a8a;
}

.about a, .policy a {
  margin: auto 10px;
  font-weight: bold;
}

.about a:hover, .policy a:hover {
  color: #167ac6;
  text-decoration: underline;
}

.about {
  margin-top: 15px;
}

.about a {
  color: #333;
  font-size: 14px;
}

.policy {
  margin-top: 10px;
}

.policy a {
  color: #8a8a8a;
  font-size: 11px;
}

/** Page responsive settings **/
@media all and (max-width: 992px) {
  .video, .social, .info, .comments {
    margin-left: 0;
  }
  .right-col section {
    overflow: hidden;
  }
  .youtube-logo {
    background: url("../images/logo2.png") no-repeat;
    width: 40px;
  }
}

@media all and (max-width: 780px) {
  .right-col {
    margin-top: 0;
  }
  .search-box .button {
    width: 40px;
  }
  .sign-in .upload {
    display: none;
  }
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .video, .social, .info {
    margin: 10px 0;
  }
  .comments {
    display: none;
  }
  .right-col section {
    margin: 0 0 10px;
    max-width: 100%;
  }
  .footer {
    display: none;
  }
}
